@font-face {
    font-family: "Upheaval";
    src: url("../font/upheaval/upheaval.ttf");
}
@font-face {
    font-family: "Press Start 2P";
    src: url("../font/press_start_2p/PressStart2P.ttf");
}
@font-face {
    font-family: "VCR OSD Mono";
    src: url("../font/vcr_osd_mono/VCR_OSD_MONO.ttf");
}